doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    hr
    p.footer
      a(href='/') #{packageInfo.name} v#{packageInfo.version}
